.doc {
  display: flex;
  margin: 0 auto;
  height: 100%;
  gap: 16px;
  max-width: 1504px;
}

.doc-toc {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  box-sizing: border-box;
  height: calc(100vh - 156px);
  overflow-y: auto;
  position: sticky;
  top: 88px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0px 16px;
}

.doc-toc-item {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}

.doc-toc-item a {
  width: 100%;
  display: inline-block;
}

.doc-sidenav {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  box-sizing: border-box;
}

.doc-content {
  width: calc(100% - 320px);
  box-sizing: border-box;
}

.doc-content.product-onboarding {
  width: 100% !important;
  padding: 0 16px;
}

.author-name-team {
  display: flex;
  flex-direction: column;
}

.author-info {
  cursor: pointer;
  height: 36px;
}

.heading {
  display: flex;
  align-items: center;
}

.heading .hash-link {
  opacity: 0;
  margin: 0 8px;
  cursor: pointer;
}

.heading:hover .hash-link {
  opacity: 1;
  color: #f99781;
  font-weight: 500;
}

a[data-level='2'] {
  /* padding-left: 16px; */
}

a[data-level='3'] {
  padding-left: 16px;
}
a[data-level='4'] {
  padding-left: 32px;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: #c9d1d9;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #ff7b72;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #d2a8ff;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #79c0ff;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #a5d6ff;
}
.hljs-built_in,
.hljs-symbol {
  color: #ffa657;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #8b949e;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #7ee787;
}
.hljs-subst {
  color: #c9d1d9;
}
.hljs-section {
  color: #1f6feb;
  font-weight: 700;
}
.hljs-bullet {
  color: #f2cc60;
}
.hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}
.hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}
.hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
.hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

/* Style for auto-linked headings */
.auto-linked-heading {
  position: relative;
}

/* Style for link on hover */
.auto-linked-heading a {
  text-decoration: none; /* Remove underline */
}

/* Style for hover effect */
.auto-linked-heading a::after {
  content: '';
  position: absolute;
  bottom: -2px; /* Adjust as needed */
  left: 0;
  right: 0;
  height: 2px;
  background-color: blue; /* Adjust color as needed */
  transform: scaleX(0); /* Initially scale to 0 */
  transition: transform 0.2s ease; /* Add transition effect */
}

/* Scale the underline on hover */
.auto-linked-heading a:hover::after {
  transform: scaleX(1);
}

html.light[data-theme='dark'] {
  display: none;
}

html.dark[data-theme='light'] {
  display: none;
}

.code-header {
  display: flex;
  padding: 8px;
  float: right;
}

pre.p-0 {
  padding: 16px;
}
