.row {
  display: flex;
}

.row .col--6 {
  width: 50%;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar .avatar__photo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatar .avatar__intro .avatar__name {
  font-weight: 700;
}
