html {
  scroll-padding-top: 60px; /* Adjust this value to match the height of your sticky header */
  scroll-behavior: smooth;
}

.row {
  display: flex;
}
a .row .col--6 {
  width: 50%;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar .avatar__photo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatar .avatar__intro .avatar__name {
  font-weight: 700;
}

pre {
  overflow-x: auto;
}

/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  /* background-color: rgba(103, 103, 126, 0.323); */
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left: 4px solid rgb(59, 130, 246); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

.prose :where(blockquote code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #4e74f8;
}

.prose :where(h2 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #4e74f8;
}

.prose :where(h1 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #4e74f8;
}

.prose :where(h3 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #4e74f8;
}

.prose :where(h4 code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  color: #4e74f8;
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::before {
  content: '';
}

.prose :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *))::after {
  content: '';
}

.prose :where(pre):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  padding-left: 8px;
  box-sizing: border-box;
  background-color: rgba(103, 103, 126, 0.323);
}

code {
  background-color: rgba(103, 103, 126, 0.323);
  padding: 2px 4px;
}

.doc-content .card {
  background-color: theme('colors.slate.900');
}

/* Works on Firefox */
* {
  scrollbar-width: 2px;
}

::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.docs-sidebar {
  height: calc(100vh - 48px);
}

.active-route::before {
  content: '';
  border-left: 2px solid #4e74f8;
  border-radius: 5px;
  margin-left: -8px;
  margin-right: 4px;
  position: absolute;
  height: 20px;
}

.active-folder::before {
  content: '';
  border-left: 2px solid #4e74f8;
  border-radius: 20px;
  margin-left: -8px;
  margin-right: 4px;
  position: absolute;
  height: 2px;
  width: 2px;
}

@media only screen and (max-width: 1024px) {
  .doc-content {
    width: calc(100% - 320px) !important;
  }

  .product-onboarding .doc-content {
    width: 100% !important;
    padding: 0 16px;
  }

  .doc-toc {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .doc-sidenav {
    display: none;
  }

  .doc-content {
    width: 100% !important;
  }

  .doc-toc {
    display: none !important;
  }
}

.avatar__photo {
  height: auto;
}

.avatar__photo img {
  margin: 0;
}

.avatar__subtitle p {
  padding: 4px 0;
  margin: 0;
}

.newsroom-content .card {
  background-color: rgb(22 25 34);
}

.newsroom-content .card .card__image img {
  margin: 0;
}

.start-free-trial-btn {
  background-color: #4e74f8;
}

.privacy ol {
  list-style: decimal;
  padding-left: 16px;
}

.terms-of-service ol {
  list-style: decimal;
  padding-left: 16px;
}

[data-rmiz-modal-overlay='visible'] {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

[data-rmiz-modal-img] {
  padding: 24px;
}

body #trieve-search-modal {
  top: calc(40vh - 225px);
}

body #trieve-search-modal.dark .item.start-chat {
  @apply bg-signoz_sakura-600/10;
}

body #trieve-search-modal h1,
body #trieve-search-modal h2,
body #trieve-search-modal h3,
body #trieve-search-modal h4,
body #trieve-search-modal h5,
body #trieve-search-modal h6 {
  margin-bottom: 0;
}

body #trieve-search-modal.dark .item.start-chat h4 {
  @apply font-normal;
}

body #trieve-search-modal.dark .item.start-chat svg,
body #trieve-search-modal.dark .item.start-chat h4 span {
  @apply text-signoz_sakura-500;
}
body #trieve-search-modal.dark .item.start-chat .description {
  @apply hidden;
}

.border-dashed-container {
  @apply !m-0 !mx-auto mt-4 flex w-full max-w-full flex-1 flex-col items-start border !border-b-0 border-dashed border-signoz_slate-400 md:!w-[80vw];
}

.enterprise-plans {
  @apply !mt-[-60px];
}
