.doc {
  display: flex;
  margin: 0 auto;
  height: 100%;
  gap: 16px;
  max-width: 1504px;
  width: 100%;
  align-items: flex-start;
}

.doc-header {
  max-width: 1504px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
}

.doc-sidenav {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  box-sizing: border-box;
  align-self: stretch;
}

.doc-content {
  flex: 1 1 auto;
  min-width: 0;
  box-sizing: border-box;
}

.doc-toc {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  flex: 0 0 320px;
  box-sizing: border-box;
  height: calc(100vh - 156px);
  overflow-y: auto;
  position: sticky;
  top: 88px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 16px;
}

.doc-toc-item {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}

.doc-toc-item a {
  width: 100%;
  display: inline-block;
}
