.reasonHeaderTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 40%;
  margin: 0 auto 5rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.reasonHeaderTitle::after {
  content: "";
  background-color: var(--ifm-color-primary);
  width: 35%;
  height: 0.3rem;
  display: block;
  margin: 1rem auto;
}
.tableGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 32.5% 32.5%;
  grid-template-columns: 35% 32.5% 32.5%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
  grid-gap: 0.3rem;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem 0 3rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid rgba(255, 107, 0, 0.3);
  border-top-width: 0.06rem;
  border-bottom-width: 0.06rem;
  border-right-width: 0.03rem;
  width: 70%;
}
.tableGrid div {
  background: #0d0d12;
  height: 5rem;
  padding: 0 2rem;
}
.tableHeader {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: var(--ifm-font-letter-spacing);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableMetric {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.tableMetricAvailability {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.3rem;
}
.tableMetricDesc {
  text-align: center;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 110%;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.tableGridMobile {
  display: none;
  width: 80%;
  margin: 0 auto;
}
.tableGridCellHeader {
  font-size: 1.3rem;
  line-height: 130%;
  letter-spacing: var(--ifm-font-letter-spacing);
  color: #e2572b;
  font-weight: 500;
  padding-bottom: 0.8rem;
  border-bottom-style: solid;
  border-bottom-width: 0.03rem;
  width: 100%;
}
.tableGridCompareCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.tableGridProdCell {
  display: flex;
  flex-direction: column;
}
.tableGridProdCell .tableMetricDesc {
  text-align: left;
}
.tableGridCompareCell:nth-child(2) {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-color: #e2572b;
  border-bottom-style: solid;
  border-bottom-width: 0.03rem;
}
.tableGridCell:last-of-type .tableGridCompareCell:nth-child(2) {
  border: none;
}
/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.3rem;
    margin: 0 auto 3rem;
  }
}
@media (max-width: 480px) {
  .reasonHeaderTitle {
    width: 90%;
    font-size: 1.2rem;
    margin: 0 auto 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tableGrid {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .tableGrid {
    display: none;
  }
  .tableGridMobile {
    display: block;
  }
}
