.tags {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tag {
  border: 1px solid #f99781;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 12px;
  color: #f99781;
  text-decoration: none;
}
