.admonition {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px 0;
  }
  
  .admonition-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .admonition-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .admonition-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .admonition-content {
    font-size: 16px;
  }
  
  .admonition-note {
    /* background-color: #e7f5ff; */
    border-color: #80bfff;
  }
  
  .admonition-tip {
    background-color: #e8e9e8;
    border-color: #c0e68a;
    color: black;
    
  }
  
  .admonition-warning {
    background-color: #fffbe5;
    border-color: #ffd700;
  }
  
  .admonition-danger {
    background-color: #ffe5e5;
    border-color: #ff4d4d;
  }
  