# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

next.config.js @SigNoz/frontend
package.json @SigNoz/frontend
jsconfig.json @SigNoz/frontend
contentlayer.config.ts @SigNoz/frontend
postcss.config.js @SigNoz/frontend
app/sitemap.ts @SigNoz/frontend
.github @SigNoz/frontend
.husky @SigNoz/frontend
plugins @SigNoz/frontend
scripts @SigNoz/frontend
utils @SigNoz/frontend