.navbarlink {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding-bottom: 2px;
    transition: color 0.3s ease-in-out;
}

.navbarlink:hover {
    color: white;
}

.navbarlink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0;
    background-color: blue;
    transition: width 0.4s ease-in-out;
}

.navbarlink:hover::after {
    width: 100%;
}
