node_modules
.contentlayer
.next
.DS_Store
.env
public/search.json
storybook-static
.yarn
.yarn/install-state.gz
*storybook.log
.package-lock.json
.vscode
.local
.cursor
.env.local
events-definition.md
package-lock.json