.markdown-container h1 {
    @apply text-2xl leading-9;
}

.markdown-container h2 {
    @apply text-xl leading-7;
}

.markdown-container h1, .markdown-container h2, .markdown-container h3, .markdown-container h4, .markdown-container h5, .markdown-container h6 {
    font-family: 'Inter', sans-serif;
    @apply font-semibold text-signoz_vanilla-100
}

.markdown-container p, .markdown-container li {
    font-family: 'Inter', sans-serif;
    @apply text-signoz_vanilla-400 text-sm leading-5;
}

.markdown-container ul, .markdown-container ol {
    @apply flex flex-col gap-4;
}

.markdown-container li {
    @apply relative;
}

.markdown-container li::before {
    @apply absolute w-5 h-0.5 bg-signoz_robin-500;
    content: '';
    left: -10px;
    top: 10px;
    transform: translate(-100%, -50%);
}

.markdown-container a {
    @apply text-signoz_robin-500 font-semibold underline;
}