.svsd * {
  font-family: var(--ifm-font-family-work-sans);
}
.svsd {
  background: url("/static/img/hero-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.svsdHeaderContainer {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.headerTitle {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1rem;
}
.headerTitle::after {
  content: "";
  background-color: var(--ifm-color-primary);
  width: 15%;
  height: 5px;
  display: block;
  margin: 1rem auto;
}
.headerDesc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 172%;
  text-align: center;
  letter-spacing: -0.015em;
  width: 40%;
  margin: 0 auto 2rem;
}
.headerHeroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.headerHeroImage {
  margin: 0 auto;
}

.svsdMigrationContainer {
  background: #0d0d12;
  padding: 5rem 0;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/static/img/hexagonal-pattern.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%, 50%;
  /* background-blend-mode: soft-light; */
}
.svsdMigrationContainer .title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.svsdMigrationContainer .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 172%;
  text-align: center;
  letter-spacing: -0.015em;
  width: 55%;
  margin: 0 auto;
}

.svsdMigrationContainer .migrationCTA {
  text-decoration: underline;
}
