.svsd * {
  font-family: var(--ifm-font-family-work-sans);
}
.svsd {
  background: url("/static/img/hero-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.svsdHeaderContainer {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.headerTitle {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1rem;
}
.headerTitle::after {
  content: "";
  background-color: var(--ifm-color-primary);
  width: 15%;
  height: 5px;
  display: block;
  margin: 1rem auto;
}
.headerDesc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 500;
  font-size: 24px;
  line-height: 172%;
  text-align: center;
  letter-spacing: -0.015em;
  width: 40%;
  margin: 0 auto 2rem;
}
.headerHeroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.headerHeroImage {
  margin: 0 auto;
}

.svsdMigrationContainer {
  background: #0d0d12;
  padding: 5rem 0;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/static/img/hexagonal-pattern.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%, 50%;
}
.svsdMigrationContainer .title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.svsdMigrationContainer .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 172%;
  text-align: center;
  letter-spacing: -0.015em;
  width: 55%;
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}
.svsdReasonContainer {
  padding: 5rem 0;
}
.reasonHeaderTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 40%;
  margin: 0 auto 5rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.reasonHeaderTitle::after {
  content: "";
  background-color: var(--ifm-color-primary);
  width: 35%;
  height: 5px;
  display: block;
  margin: 1rem auto;
}
.reasonRow {
  margin: 0 4rem 2rem;
}
.reasonImageCol{
  display: flex;
  justify-content: center;
}
.reasonImageContainer {
  position: relative;
  width: fit-content;
}
.reasonReviewContainer {
  position: absolute;
  bottom: 0;
  right: -40px;
  width: 266px;
  height: 163px;
  top: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.2rem;
  background: #0d0d12;
  border-radius: 8px;
  background-clip: padding-box;
  border: 3px solid transparent;
  z-index: 1;
}
.reasonReviewContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      0deg,
      rgba(13, 13, 18, 0.463),
      rgba(13, 13, 18, 0.725)
    ),
    linear-gradient(
      118.29deg,
      rgba(226, 87, 43, 0.6) -11.08%,
      rgba(226, 87, 43, 0) 76.16%
    );
  z-index: 0;
  filter: blur(1px);
}
.reasonReviewContainer::after {
  border: 2px solid transparent;

  background: linear-gradient(
    150deg,
    rgba(226, 87, 43, 0.6) -11.08%,
    rgba(226, 87, 43, 0) 76.16%
  );

  border-radius: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  margin: -2px;
  z-index: -1;
}
.reasonReview {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.015em;
  position: relative;
  margin: 0;
  z-index: 2;
}
.reasonTitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.015em;
}
.reasonDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  letter-spacing: -0.015em;
}
.svsdThreadContainer {
  /* background: #0d0d12; */
  padding: 5rem 0 10rem;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  position: relative;
}
.svsdThreadContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("/static/img/doller-hexa-pattern.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.svsdThreadContainer .threadTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  width: 60%;
  margin: 0 auto;
}
.trySigNozContainer {
  background: linear-gradient(
    95.84deg,
    rgb(242, 87, 51) -8.15%,
    rgb(134, 69, 54) 101.25%
  );
  border-radius: 1rem;
  padding: 3rem 4rem;
  transform: translateY(-40%);
  position: relative;
  overflow: hidden;
  margin-bottom: -3rem;
}
.trySigNozContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("/static/img/gradient-circles.png");
  background-position: 100% 0%;
  background-size: auto 101%;
  background-repeat: no-repeat;
}
.trySigNozContainer .tagline {
  font-weight: 700;
  font-size: 2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1.5rem;
  width: 80%;
}
.trySigNozContainer .desc {
  font-weight: 600;
  font-size: 22.8029px;
  line-height: 110%;
  letter-spacing: -0.015em;
}
.trySigNozContainer .trySigNozCtaBtn {
  color: var(--ifm-color-primary) !important;
}
.migrationSupportContainer {
  padding: 0 4rem;
  margin-bottom: 3rem;
}
.migrationSupportContainer .tagline {
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.015em;
}
.migrationSupportContainer .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  /* or 15px */

  letter-spacing: -0.015em;
}
.comparisonTable {
  width: 100%;
  border: 0;
}
.comparisonTable thead {
  width: 100%;
  display: block;
}
.comparisonTable tr {
  width: 100%;
  display: block;
}
.comparisonTable thead th:nth-child(1) {
  width: 50%;
  display: block;
}
.comparisonTable thead th:nth-child(2) {
  width: 25%;
  display: block;
}
.comparisonTable thead th:nth-child(3) {
  width: 25%;
  display: block;
}
.tableGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 30% 30%;
  grid-template-columns: 40% 30% 30%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
  grid-gap: 5px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid;
  margin: 1rem 0 3rem;
  border: 2px solid #ff6b00;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0.5px;
}
.tableGrid div {
  background: #0d0d12;
  height: 100px;
  padding: 0 2rem;
}
.tableHeader {
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  /* identical to box height, or 29px */

  letter-spacing: -0.015em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableMetric {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  /* identical to box height, or 22px */
  display: flex;
  /* justify-content: center; */
  align-items: center;

  letter-spacing: -0.015em;
}
.tableMetricAvailability {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-size: 25px;
}
.tableMetricDesc {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  /* or 11px */

  text-align: center;
  letter-spacing: -0.015em;
  /* width: 70%; */
}
/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .headerDesc {
    width: 80%;
  }
  .svsdMigrationContainer .desc {
    width: 80%;
  }
  .svsdThreadContainer .threadTitle {
    width: 80%;
    font-size: 1.6rem;
  }
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.6rem;
  }
  .trySigNozContainer {
    padding: 2rem 3rem;
  }
  .trySigNozContainer .tagline {
    width: 80%;
    font-size: 1.6rem;
  }
  .migrationSupportContainer {
    padding: 0 3rem;
  }
  .reasonRow {
    margin: 0 0 2rem;
  }
  .reasonReviewContainer {
    right: -20px;
  }
}
@media (max-width: 768px) {
  .svsd {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/static/img/hero-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-position: top;
  }
  .headerTitle {
    font-size: 2rem;
  }
  .headerDesc {
    font-size: 1.1rem;
    width: 75%;
  }
  .svsdMigrationContainer {
    padding: 3rem 1rem;
  }
  .svsdMigrationContainer .title {
    font-size: 1.5rem;
  }
  .svsdMigrationContainer .desc {
    font-size: 1rem;
  }
  .reasonElonMusk .reasonImageContainer{
    margin-bottom: 2rem;
  }
  .svsdThreadContainer .threadTitle {
    width: 80%;
    font-size: 1.3rem;
  }
  .svsdReasonContainer {
    padding: 3rem 0;
  }
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.3rem;
    margin: 0 auto 3rem;
  }
  .reasonImageContainer {
    display: flex;
    justify-content: center;
  }
  .shouldImageFirst {
    flex-direction: column-reverse;
  }
  .trySigNozContainer {
    padding: 1.5rem 2rem;
    transform: translateY(-50%);
  }
  .trySigNozContainer .tagline {
    width: 100%;
    font-size: 1.3rem;
  }
  .trySigNozContainer .desc {
    width: 100%;
    font-size: 1rem;
  }
  .migrationSupportContainer {
    padding: 0 2rem;
    margin-top: -1rem;
  }
}
@media (max-width: 480px) {
  .svsd {
    background-size: 115%;
  }
  .svsdHeaderContainer {
    margin-bottom: 3rem;
  }
  .headerTitle::after {
    width: 40%;
  }
  .headerDesc {
    width: 95%;
  }
  .svsdReasonContainer {
    padding: 2rem 0;
  }
  .reasonHeaderTitle {
    width: 90%;
    font-size: 1.2rem;
    margin: 0 auto 2rem;
  }
  .reasonElonMusk .reasonImageContainer{
    margin-bottom: 4rem;
  }
  .reasonReviewContainer{
    top: 70%;
    right: 40px;
  }
  .ctaContainer {
    flex-direction: column;
  }
  .ctaButton {
    width: 80%;
  }
  .headerHeroImage {
    width: 95%;
  }
  .svsdMigrationContainer {
    padding: 3rem 0.5rem;
  }
  .svsdMigrationContainer .desc {
    width: 100%;
  }
  .svsdThreadContainer {
    padding: 3rem 0 8rem;
  }
  .svsdThreadContainer .threadTitle {
    width: 100%;
    font-size: 1.3rem;
  }
  .trySigNozContainer {
    padding: 1rem 1.5rem;
    transform: translateY(-50%);
  }
  .trySigNozContainer .tagline {
    width: 100%;
    font-size: 1.2rem;
  }
  .trySigNozContainer .desc {
    width: 100%;
    font-size: 0.9rem;
  }
  .migrationSupportContainer {
    padding: 0 1.5rem;
    margin-top: -1rem;
  }
  .migrationSupportContainer .tagline {
    width: 100%;
    font-size: 1.2rem;
  }
  .migrationSupportContainer .desc {
    width: 100%;
    font-size: 0.8rem;
  }
  .svsdThreadContainer::before {
    background-position: 0 0;
    background-size: 200% auto;
  }
}
