.options {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.options .title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: -0.015em;
}

.options .tagline {
  margin-bottom: 1rem;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.options .subTagline {
  margin-bottom: 1.2rem;
  font-family: "Work Sans";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.options ul li {
  margin: 0 1rem 1rem;
  list-style-type: none;
}
@media (max-width: 996px) {
}
@media (max-width: 568px) {
  .options .title {
    font-size: 1.5rem;
  }
  .options .tagline {
  }
  .options .subTagline {
    font-size: 0.9rem;
    width: 70%;
    margin: 1rem auto;
  }
}
@media (max-width: 410px) {
}
