.expert {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  margin: 3rem 0 0.5rem;
}

.expert .tagline {
  margin-bottom: 1rem;
  text-align: center;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}
.expert .subTagline {
  margin-bottom: 1rem;
  text-align: center;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-size: 1.2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}

.expert ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.expert ul li {
  margin: 0 1rem 1rem;
  list-style-type: none;
}

@media (max-width: 768px) {
  .expert {
    padding: 1rem 0;
    margin: 1.5rem 0 0.5rem;
  }
  .expert .tagline {
    font-size: 1.4rem;
    width: 100%;
  }
  .expert .subTagline {
    font-size: 0.9rem;
    width: 65%;
    margin: 0 auto 1rem;
  }
}
