.options {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}

.options .title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 110%;
  padding-bottom: 1rem;
  letter-spacing: -0.015em;

  border-bottom: 1px dashed #fff;
}

.options .tagline {
  margin-bottom: 1rem;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.options .subTagline {
  margin-bottom: 2rem;
  font-family: "Work Sans";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.options ul li {
  margin: 0 1rem 1rem;
  list-style-type: none;
}
