.changelog-container h1 {
  @apply text-2xl leading-9;
}

.changelog-container h2 {
  @apply text-xl leading-7;
}

.changelog-container h1,
.changelog-container h2,
.changelog-container h3,
.changelog-container h4,
.changelog-container h5,
.changelog-container h6 {
  font-family: 'Inter', sans-serif;
  @apply font-semibold text-[var(--l1-foreground)];
}

.changelog-container p,
.changelog-container li {
  font-family: 'Inter', sans-serif;
  @apply text-sm leading-5 text-[var(--l2-foreground)];
}

.changelog-container ul,
.changelog-container ol {
  @apply flex flex-col gap-4;
}

.changelog-container li {
  @apply relative;
}

.changelog-container li::before {
  @apply absolute h-0.5 w-5 bg-[var(--accent-primary)];
  content: '';
  left: -10px;
  top: 10px;
  transform: translate(-100%, -50%);
}

.changelog-container a {
  @apply font-semibold text-[var(--accent-primary)] underline;
}

.changelog-container :last-child,
.changelog-container :only-child {
  margin-bottom: unset;
}

.changelog-container pre,
.changelog-container code {
  @apply bg-[var(--l3-background)] text-[var(--l2-foreground)];
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
}

.changelog-container pre code {
  padding: 0;
  background: none;
  border-radius: 0;
}
