@reference '../../../css/tailwind.css';

.changelog-container h1 {
  @apply text-2xl leading-9;
}

.changelog-container h2 {
  @apply text-xl leading-7;
}

.changelog-container h1,
.changelog-container h2,
.changelog-container h3,
.changelog-container h4,
.changelog-container h5,
.changelog-container h6 {
  font-family: 'Inter', sans-serif;
  @apply text-l1-foreground font-semibold;
}

.changelog-container p,
.changelog-container li {
  font-family: 'Inter', sans-serif;
  @apply text-muted-foreground text-sm leading-5;
}

.changelog-container ul,
.changelog-container ol {
  @apply flex flex-col gap-4;
}

.changelog-container li {
  @apply relative;
}

.changelog-container li::before {
  @apply bg-primary absolute h-0.5 w-5;
  content: '';
  left: -10px;
  top: 10px;
  transform: translate(-100%, -50%);
}

.changelog-container a {
  @apply text-primary font-semibold underline;
}

.changelog-container :last-child,
.changelog-container :only-child {
  margin-bottom: unset;
}

.changelog-container pre,
.changelog-container code {
  @apply bg-l3-background text-muted-foreground;
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
}

.changelog-container pre code {
  padding: 0;
  background: none;
  border-radius: 0;
}
