.changelog-container h1 {
    @apply text-2xl leading-9;
}

.changelog-container h2 {
    @apply text-xl leading-7;
}

.changelog-container h1, .changelog-container h2, .changelog-container h3, .changelog-container h4, .changelog-container h5, .changelog-container h6 {
    font-family: 'Inter', sans-serif;
    @apply font-semibold text-signoz_vanilla-100;
}

.changelog-container p, .changelog-container li {
    font-family: 'Inter', sans-serif;
    @apply text-signoz_vanilla-400 text-sm leading-5;
}

.changelog-container ul, .changelog-container ol {
    @apply flex flex-col gap-4;
}

.changelog-container li {
    @apply relative;
}

.changelog-container li::before {
    @apply absolute w-5 h-0.5 bg-signoz_robin-500;
    content: '';
    left: -10px;
    top: 10px;
    transform: translate(-100%, -50%);
}

.changelog-container a {
    @apply text-signoz_robin-500 font-semibold underline;
}

.changelog-container :last-child,
.changelog-container :only-child {
    margin-bottom: unset;
}