.options {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.options .title {
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}

.options .tagline {
  margin-bottom: 1rem;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}
.options .subTagline {
  margin-bottom: 1.2rem;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-size: 1.2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}
.options .readDocsBtn {
  margin: 0.375rem;
  padding-left: .625rem;
  padding-right: .625rem;
}

.options ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.options ul li {
  margin: 0 1rem 1rem;
  list-style-type: none;
}

@media (max-width: 768px) {
  .options {
    padding: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .options .title {
    font-size: 1.5rem;
  }
  .options .subTagline {
    font-size: 0.9rem;
    width: 70%;
    margin: 1rem auto;
  }
}
