*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


.blue-headind{
    height: 132px;
    width: 1440px;
    background: #3F4C5D;

}
main {
    height: 1150px;
    width: 1440px;
    background-color: #1E1E1E;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.orange {
    color:#FF6B00;
}
.main-discrible{
    
    margin: 201px auto;
    text-align: center;
    color: #FFF;
}
.main-discrible h1 {
    height: 53px;
    min-width: 410px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 52.8px;
}
.main-discrible ul {
    text-align: left;
}
.main-discrible ul li {
    max-height: 52px;
    max-width: 436px;
    margin-bottom: 30px;
    font-size: 24px;
    list-style: none;
    
   
}

.main-form{
    margin: 201px auto;
    display: block;
    text-align: center;
    color: #FFF;
    background-color: #373737;
    width: 553px;
    height: 511px;
    
}
.main-form  h2{
    min-height: 26px;
    min-width: 405px;
    margin-top: 45px;
    font-size: 24px;
    text-align: center;
}

.input-container {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
   
}

.input-container input {
   
    width: 429px;
    height: 66px;
    border-radius: 4px;
    background-color: #5C5C5C;
    margin-bottom: 33px;
    padding-left: 24px ;
    font-size: 24px;
    color:#C1C1C1 ;
    border: none;
}

.input-container .input-orange {
    background-color: #FF6B00;
    color:#FFF ;
    font-size: 32px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    height: 66px;
    width: 429px;

}