.review {
  display: flex;
  align-items: center;
  padding: 4rem 0 3rem;
  width: 100%;
  background: #ffefe7;
  color: #000000;
}
.review .subTagline {
  margin-bottom: 1rem;
  font-family: "Work Sans";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 110%;
  font-weight: 500;
  letter-spacing: -0.015em;
  color: #000000;
}

.review .user {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: #000000;
}

.review .userRole {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 400;
  line-height: 110%;
  font-size: 0.8rem;
  letter-spacing: -0.015em;
  color: #000000;
  margin-left: 0.5rem;
}
@media (max-width: 996px) {
}
@media (max-width: 568px) {
  .review .subTagline {
    font-size: 0.9rem;
  }
  .review .user {
    font-size: .95rem;
  }
}
@media (max-width: 410px) {
}
