.featureContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tabStyling {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  font-weight: 300;
}

.highlight {
  color: var(--ifm-color-primary);
}
