.yourProject {
  display: flex;
  align-items: center;
  padding: 5rem 0 7rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  background-image: url( '/svgs/graph-bg.svg' );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.yourProject .title {
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}
.yourProject .title.withUnderline::after {
  content: "";
  background-color: var(--ifm-color-primary);
  display: block;
  height: 0.3rem;
  margin: 2rem auto;
  width: 15%;
}
.yourProject .subTagline {
  margin-bottom: 1.2rem;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-size: 1.2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .yourProject {
    padding: 1.5rem 0 8rem;
  }
  .yourProject .title {
    font-size: 1.5rem;
  }
  .yourProject .subTagline {
    font-size: 0.9rem;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .yourProject .title.withUnderline::after {
    width: 40%;
    margin: 1.5rem auto;
  }
}