.root > :global([data-variant='secondary'] > div:first-child:not([role])) {
  box-sizing: border-box;
  flex: 0 0 10px;
  width: 10px;
  min-width: 10px;
  border-bottom: none;
  background-image: linear-gradient(
    to left,
    var(--tab-border-color, var(--l1-border)),
    transparent
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 1px;
}

.root > :global([data-variant='secondary'] > div:last-child:not([role])) {
  border-bottom: none;
  background-image: linear-gradient(
    to right,
    var(--tab-border-color, var(--l1-border)),
    transparent
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 1px;
}
