.used_by {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    /* background-color: #1a1a1a; */
  }
  
  .used_by .tagline {
    color: #828282;
    font-size: 0.875rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .used_by ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  .used_by ul li {
    margin: 0 1rem 1rem;
    list-style-type: none;
  }
  