.used_by {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  background: var(--ifm-color-black-lightest);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.used_by .tagline {
  margin-bottom: 4rem;
  text-align: center;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  color: var(--ifm-color-white);
}

.used_by ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.used_by ul li {
  margin: 0 1rem 1rem;
  list-style-type: none;
}

@media (max-width: 768px) {
  .used_by .tagline {
    font-size: 1.6rem;
  }
}
