.cta {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 4.5rem 0;
}
.cta .tagline {
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1.5rem;
}
.cta .contentWrapper {
  background: var(--ifm-color-primary);
  border-radius: 6px;
  padding: 3.5rem 0;
  text-align: center;
}
.cta .ctaBtn {
  color: var(--ifm-color-primary) !important;
}

@media (max-width: 768px) {
  .cta {
    margin: 2.5rem 0;
  }
  .cta .tagline {
    font-size: 1.5rem;
  }
}

html[data-theme="light"] .cta .tagline {
  color: var(--ifm-color-white);
}
