.svsdThreadContainer {
  padding: 5rem 0 10rem;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  position: relative;
}
.svsdThreadContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("/static/img/doller-hexa-pattern.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.svsdThreadContainer .threadTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  width: 60%;
  margin: 0 auto;
}
.trySigNozContainer {
  background: linear-gradient(
    95.84deg,
    rgb(242, 87, 51) -8.15%,
    rgb(134, 69, 54) 101.25%
  );
  border-radius: 1rem;
  padding: 3rem 4rem;
  transform: translateY(-40%);
  position: relative;
  overflow: hidden;
  margin-bottom: -3rem;
}
.trySigNozContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("/static/img/gradient-circles.png");
  background-position: 100% 0%;
  background-size: auto 101%;
  background-repeat: no-repeat;
}
.trySigNozContainer .tagline {
  font-weight: 700;
  font-size: 2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1.5rem;
  width: 80%;
}
.trySigNozContainer .desc {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: -0.015em;
}
.trySigNozContainer .trySigNozCtaBtn {
  color: var(--ifm-color-primary) !important;
}
.migrationSupportContainer {
  padding: 0 4rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
}
.migrationSupportContainer .tagline {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 110%;
  letter-spacing: -0.015em;
}
.migrationSupportContainer .desc {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 110%;
  /* or 15px */

  letter-spacing: -0.015em;
}
.tableGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 32.5% 32.5%;
  grid-template-columns: 35% 32.5% 32.5%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
  grid-gap: 0.3rem;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem 0 3rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.1rem solid rgba(255, 107, 0, 0.3);
  border-top-width: 0.06rem;
  border-bottom-width: 0.06rem;
  border-right-width: 0.03rem;
  width: 70%;
}
.tableGrid div {
  background: #0d0d12;
  height: 5rem;
  padding: 0 2rem;
}
.tableHeader {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: -0.015rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableMetric {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}
.tableMetricAvailability {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.3rem;
}
.tableMetricDesc {
  text-align: center;
  font-weight: 400;
  font-size: 0.65rem;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.015em;
}
.tableGridMobile {
  display: none;
  width: 80%;
  margin: 0 auto;
}
.tableGridCellHeader {
  font-size: 1.3rem;
  line-height: 130%;
  letter-spacing: -0.015em;
  color: #e2572b;
  font-weight: 500;
  padding-bottom: 0.8rem;
  border-bottom-style: solid;
  border-bottom-width: 0.03rem;
  width: 100%;
}
.tableGridCompareCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.tableGridProdCell {
  display: flex;
  flex-direction: column;
}
.tableGridProdCell .tableMetricDesc {
  text-align: left;
}
.tableGridCompareCell:nth-child(2) {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-color: #e2572b;
  border-bottom-style: solid;
  border-bottom-width: 0.03rem;
}
.tableGridCell:last-of-type .tableGridCompareCell:nth-child(2) {
  border: none;
}
/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .headerDesc {
    width: 80%;
  }
  .svsdMigrationContainer .desc {
    width: 80%;
  }
  .svsdThreadContainer .threadTitle {
    width: 80%;
    font-size: 1.6rem;
  }
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.6rem;
  }
  .trySigNozContainer {
    padding: 2rem 3rem;
  }
  .trySigNozContainer .tagline {
    width: 80%;
    font-size: 1.6rem;
  }
  .migrationSupportContainer {
    padding: 0 3rem;
  }
  .reasonRow {
    margin: 0 0 2rem;
  }
  .reasonReviewContainer {
    right: -20px;
  }
}
@media (max-width: 768px) {
  .svsd {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/static/img/hero-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-position: top;
  }
  .headerTitle {
    font-size: 2rem;
  }
  .headerDesc {
    font-size: 1.1rem;
    width: 75%;
  }
  .svsdMigrationContainer {
    padding: 3rem 1rem;
  }
  .svsdMigrationContainer .title {
    font-size: 1.5rem;
  }
  .svsdMigrationContainer .desc {
    font-size: 1rem;
  }
  .reasonElonMusk .reasonImageContainer {
    margin-bottom: 2rem;
  }
  .svsdThreadContainer .threadTitle {
    width: 80%;
    font-size: 1.3rem;
  }
  .svsdReasonContainer {
    padding: 3rem 0;
  }
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.3rem;
    margin: 0 auto 3rem;
  }
  .reasonImageContainer {
    display: flex;
    justify-content: center;
  }
  .shouldImageFirst {
    flex-direction: column-reverse;
  }
  .trySigNozContainer {
    padding: 1.5rem 2rem;
    transform: translateY(-50%);
  }
  .trySigNozContainer .tagline {
    width: 100%;
    font-size: 1.3rem;
  }
  .trySigNozContainer .desc {
    width: 100%;
    font-size: 1rem;
  }
  .migrationSupportContainer {
    padding: 0 2rem;
    margin-top: -1rem;
  }
}
@media (max-width: 480px) {
  .svsd {
    background-size: 115%;
  }
  .svsdHeaderContainer {
    margin-bottom: 3rem;
  }
  .headerTitle::after {
    width: 40%;
  }
  .headerDesc {
    width: 95%;
  }
  .svsdReasonContainer {
    padding: 2rem 0;
  }
  .reasonHeaderTitle {
    width: 90%;
    font-size: 1.2rem;
    margin: 0 auto 2rem;
  }
  .reasonElonMusk .reasonImageContainer {
    margin-bottom: 4rem;
  }
  .reasonReviewContainer {
    top: 70%;
    right: 30px;
  }
  .ctaContainer {
    flex-direction: column;
  }
  .ctaButton {
    width: 80%;
  }
  .headerHeroImage {
    width: 95%;
  }
  .svsdMigrationContainer {
    padding: 3rem 0.5rem;
  }
  .svsdMigrationContainer .desc {
    width: 100%;
  }
  .svsdThreadContainer {
    padding: 3rem 0 8rem;
  }
  .svsdThreadContainer .threadTitle {
    width: 100%;
    font-size: 1.3rem;
  }
  .trySigNozContainer {
    padding: 1rem 1.5rem;
    transform: translateY(-50%);
  }
  .trySigNozContainer .tagline {
    width: 100%;
    font-size: 1.2rem;
  }
  .trySigNozContainer .desc {
    width: 100%;
    font-size: 0.9rem;
  }
  .migrationSupportContainer {
    padding: 0 1.5rem;
    margin-top: -1rem;
  }
  .migrationSupportContainer .tagline {
    width: 100%;
    font-size: 1.2rem;
  }
  .migrationSupportContainer .desc {
    width: 100%;
    font-size: 0.8rem;
  }
  .svsdThreadContainer::before {
    background-position: 0 0;
    background-size: 200% auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tableGrid {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .tableGrid {
    display: none;
  }
  .tableGridMobile {
    display: block;
  }
}
