.svsdThreadContainer {
  padding: 5rem 0 10rem;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  position: relative;
}
.svsdThreadContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("/static/img/doller-hexa-pattern.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.svsdThreadContainer .threadTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  width: 60%;
  margin: 0 auto;
}
.trySigNozContainer {
  background: linear-gradient(
    95.84deg,
    rgb(242, 87, 51) -8.15%,
    rgb(134, 69, 54) 101.25%
  );
  border-radius: 1rem;
  padding: 3rem 4rem;
  transform: translateY(-40%);
  position: relative;
  overflow: hidden;
  margin-bottom: -3rem;
}
.trySigNozContainer.withoutHackerNews {
  transform: translateY(0%);
}
.trySigNozContainer.withoutMigrationSupport {
  margin-bottom: 5rem;
}
.trySigNozContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("/static/img/gradient-circles.webp");
  background-position: 100% 0%;
  background-size: auto 101%;
  background-repeat: no-repeat;
}
.trySigNozContainer .tagline {
  font-weight: 700;
  font-size: 2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1.3rem;
  width: 80%;
}
.trySigNozContainer .desc {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1.5rem;
}
.trySigNozContainer .trySigNozCtaBtn {
  color: var(--ifm-color-primary) !important;
}
.migrationSupportContainer {
  padding: 0 4rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
}
.migrationSupportContainer.withoutHackerNews {
  margin-top: 8rem;
}
.migrationSupportContainer.withoutMigrationSupport {
  margin-top: 4rem;
}
.migrationSupportContainer.withoutHackerNews.withoutMigrationSupport {
  margin-top: 0rem;
}
.migrationSupportContainer .tagline {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 110%;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.migrationSupportContainer .desc {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 110%;
  /* or 15px */

  letter-spacing: var(--ifm-font-letter-spacing);
}
/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .svsdThreadContainer .threadTitle {
    width: 80%;
    font-size: 1.6rem;
  }
  .trySigNozContainer {
    padding: 2rem 3rem;
  }
  .trySigNozContainer .tagline {
    width: 80%;
    font-size: 1.6rem;
  }
  .migrationSupportContainer {
    padding: 0 3rem;
  }
}
@media (max-width: 768px) {
  .svsdMigrationContainer {
    padding: 3rem 1rem;
  }
  .svsdMigrationContainer .title {
    font-size: 1.5rem;
  }
  .svsdMigrationContainer .desc {
    font-size: 1rem;
  }
  .svsdThreadContainer .threadTitle {
    width: 80%;
    font-size: 1.3rem;
  }
  .trySigNozContainer {
    padding: 1.5rem 2rem;
    transform: translateY(-50%);
  }
  .trySigNozContainer .tagline {
    width: 100%;
    font-size: 1.3rem;
  }
  .trySigNozContainer .desc {
    width: 100%;
    font-size: 1rem;
  }
  .migrationSupportContainer {
    padding: 0 2rem;
    margin-top: -1rem;
  }
}
@media (max-width: 480px) {
  .svsdThreadContainer {
    padding: 3rem 0 8rem;
  }
  .svsdThreadContainer::before {
    background-position: 0 0;
    background-size: 200% auto;
  }
  .svsdThreadContainer .threadTitle {
    width: 100%;
    font-size: 1.3rem;
  }
  .trySigNozContainer {
    padding: 1rem 1.5rem;
    transform: translateY(-50%);
  }
  .trySigNozContainer .tagline {
    width: 100%;
    font-size: 1.2rem;
  }
  .trySigNozContainer .desc {
    width: 100%;
    font-size: 0.9rem;
  }
  .migrationSupportContainer {
    padding: 0 1.5rem;
    margin-top: -1rem;
  }
  .migrationSupportContainer .tagline {
    width: 100%;
    font-size: 1.2rem;
  }
  .migrationSupportContainer .desc {
    width: 100%;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
