.used_by {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.used_by .tagline {
  margin-bottom: 3rem;
  text-align: center;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}
.used_by .logoContainer {
  margin: 0 2rem;
  padding: 0;
  justify-content: center;
}
.used_by ul li {
  margin: 0 0 1rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.used_by ul li img {
  aspect-ratio: 3/2;
  object-fit: contain;
  height: 5rem;
  object-position: 0 50%;
}

@media (max-width: 996px) {
  .used_by .logoContainer {
    margin: 0 1rem;
  }
}
@media (max-width: 768px) {
  .used_by .tagline {
    font-size: 1.6rem;
  }
  .used_by ul li {
    margin-bottom: 0.5rem;
    width: 50% !important;
    display: flex;
    flex-basis: 50% !important;
    justify-content: center;
  }
}
