.api-reference {
  color-scheme: dark;
}

.sl-code-viewer {
  background-color: var(--color-canvas-100);
}

.sl-code-viewer .token.string {
  color: #93c5fd !important;
}

.sl-code-viewer .token.punctuation {
  color: #ddd !important;
}

.sl-code-viewer .token.property {
  color: #818cf8 !important;
}

.sl-elements .OperationParametersContent {
  max-height: 400px !important;
  overflow-y: auto;
}

.sl-elements .ParameterGrid {
  padding-bottom: 16px !important;
}

.sl-elements-api {
  background-color: rgba(11, 12, 14, 0.7);
}

.sl-elements-api input {
  background-color: whitesmoke;
  color: black;
}

.sl-elements-api input::placeholder {
  color: gray;
}

.sl-elements-api .sl-bg-canvas-100:first-child {
  background-color: rgba(11, 12, 14, 0.7);
  padding-right: 16px;
}

.sl-elements-api .sl-bg-canvas {
  background-color: rgba(11, 12, 14, 0.7);
}
