/* Team Section */
.team {
}

.team .teamSection {
  background: var(--ifm-color-white);
}
.team .teamRow {
  margin-top: -8rem;
}
.team .teamContainer {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.team .teamCard {
  padding: 1.5rem;
  margin: 0 2rem;
  background: var(--ifm-color-white);
  box-shadow: var(--ifm-box-shadow-dark);
}
.team .featuresContainer {
  margin-top: 8rem;
  color: var(--ifm-color-black);
}
.team .featureWrapper {
  margin-bottom: 2rem;
  margin-left: 5rem;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
}
.team .featureImage {
  margin-top: -0.4rem;
  width: 3rem;
  height: 3rem;
}
.team .featureTitle {
  font-family: var(--ifm-font-family-work-sans);
  font-size: 1.45rem;
  font-weight: 700;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 0.5rem;
}
.team .featureDesc {
  font-family: var(--ifm-font-family-work-sans);
  line-height: var(--ifm-font-line-height);
  font-size: 1rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
@media (max-width: 480px) {
  .team .featureWrapper {
    flex-direction: column;
  }
  .team .teamCard {
    padding: 0.3rem;
  }
}
@media (max-width: 768px) {
  .team .featuresContainer {
    margin-top: 1rem;
    padding: 0 1.5rem;
  }
  .team .featureTitle {
    font-size: 1.3rem;
  }
  .team .featureDesc {
    font-size: 0.9rem;
  }
  .team .teamCard {
    margin: 0;
    padding: 0.5rem;
  }
}
@media (max-width: 996px) {
  .team .teamRow {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .team .teamCard {
    padding: 1.5rem;
    margin: 0 1rem;
  }
  .team .teamContainer {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .team .featureWrapper {
    margin-left: 0;
  }
}
