.testimonial-content {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.signup-form-section {
  /* box-shadow: 12px 0px 80px 0px rgba(0, 0, 0, 0.4); */
}

.signup-testimonial {
  position: relative;
}

.signup-testimonial-bg {
  position: absolute;
  background-image: url('../../public/img/background_blur/Perlin_noise.png');
  height: 30%;
  width: 60%;
  border-bottom-right-radius: 20%;
  opacity: 0.5;
}
