/* Team Section */
.oss {
}
.oss .ossSection {
  background: var(--ifm-color-white);
}
.oss .ossRow {
  margin-top: -8rem;
}
.oss .ossContainer {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.oss .ossCard {
  padding: 2.5rem;
  margin: 0 2rem;
  background: var(--ifm-color-white);
  box-shadow: var(--ifm-box-shadow-dark);
}
.oss .featuresContainer {
  margin-top: 8rem;
  color: var(--ifm-color-black);
}
.oss .featureWrapper {
  margin-bottom: 2rem;
  margin-left: 5rem;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
}
.oss .featureTitle {
  font-family: var(--ifm-font-family-work-sans);
  font-size: 1.45rem;
  font-weight: 700;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 0.5rem;
}
.oss .featureDesc {
  font-family: var(--ifm-font-family-work-sans);
  line-height: var(--ifm-font-line-height);
  font-size: 1rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
@media (max-width: 480px) {
  .oss .featureWrapper {
    flex-direction: column;
  }
  .oss .ossCard {
    padding: 0.3rem;
  }
}
@media (max-width: 768px) {
  .oss .featuresContainer {
    margin-top: 1rem;
    padding: 0 1.5rem;
  }
  .oss .featureTitle {
    font-size: 1.3rem;
  }
  .oss .featureDesc {
    font-size: 0.9rem;
  }
  .oss .ossCard {
    margin: 0;
    padding: 0.5rem;
  }
}
@media (max-width: 996px) {
  .oss .ossRow {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .oss .ossCard {
    padding: 1.5rem;
    margin: 0 1rem;
  }
  .oss .ossContainer {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .oss .featureWrapper {
    margin-left: 0;
  }
}
