.data {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.data .title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: -0.015em;
}
.data .subTagline {
  margin-bottom: 1.2rem;
  font-family: "Work Sans";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 110%;
  letter-spacing: -0.015em;
  color: #ffffff;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 996px) {
}
@media (max-width: 568px) {
  .data .title {
    font-size: 1.5rem;
  }
  .data .subTagline {
    font-size: 0.9rem;
    width: 80%;
  }
}
@media (max-width: 410px) {
}
