.data {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.data .title {
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
}
.data .subTagline {
  margin-bottom: 1.2rem;
  font-family: var(--ifm-font-family-work-sans);
  font-style: normal;
  font-size: 1.2rem;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .data {
    padding: 1rem 0;
    margin-top: 1rem;
  }
  .data .title {
    font-size: 1.5rem;
  }
  .data .subTagline {
    font-size: 0.9rem;
    width: 80%;
  }
}

