.neon-text {
  color: #ea6363;
  text-shadow: 
    0 0 5px rgba(247, 59, 59, 0.7),
    0 0 10px rgba(251, 40, 40, 0.5),
    0 0 20px rgba(255, 0, 0, 0.4),
    0 0 40px rgba(255, 0, 0, 0.3);
}

.key-hover-effect {
  transition: all 0.1s ease;
}

.key-hover-effect:hover {
  box-shadow: 
    0 0 5px rgba(74, 90, 182, 0.7),
    0 0 10px rgba(69, 88, 196, 0.5),
    0 0 15px rgba(69, 88, 196, 0.3);
  border-color: #5569d7;
  transform: translateY(-3px);
}

.enter-key-hover:hover {
  box-shadow: 
    0 0 5px rgba(98, 117, 225, 0.7),
    0 0 10px rgba(69, 88, 196, 0.5),
    0 0 15px rgba(69, 88, 196, 0.3);
  transform: translateY(-3px);
}

.del-key-hover:hover {
  box-shadow: 
    0 0 5px rgba(251, 97, 97, 0.7),
    0 0 10px rgba(239, 68, 68, 0.5),
    0 0 15px rgba(239, 68, 68, 0.3);
  transform: translateY(-3px);
} 