.getCloud {
}
.getCloud .getCloudContainer {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.getCloud .featureCard {
  padding: 2.5rem;
  box-shadow: var(--ifm-box-shadow-light);
}
.getCloud .featuresContainer {
  margin-top: 5rem;
}
.getCloud .featureTitle {
  font-family: var(--ifm-font-family-work-sans);
  font-size: 1.45rem;
  font-weight: 700;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 0.5rem;
}
.getCloud .featureDesc {
  font-family: var(--ifm-font-family-work-sans);
  line-height: var(--ifm-font-line-height);
  font-size: 1rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.getCloud .featureWrapper {
  margin-bottom: 2rem;
  margin-left: 5rem;
}
@media (max-width: 1024px) {
  .getCloud .featureCard {
    padding: 1.5rem;
  }
  .getCloud .getCloudContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .getCloud .featureWrapper {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .getCloud .getCloudRow {
    flex-direction: column-reverse;
  }
  .getCloud .featureTitle {
    font-size: 1.3rem;
  }
  .getCloud .featureDesc {
    font-size: 0.9rem;
  }
}
html[data-theme="light"] .getCloud .featureCard {
  box-shadow: var(--ifm-box-shadow-dark);
}
