.getCloud {
}
.getCloud .getCloudContainer {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.getCloud .featureCard {
  padding: 2.5rem;
}
.getCloud .cardTransparent {
  background-color: transparent;
  padding-top: 0;
}
.getCloud .featureTitle {
  font-family: var(--ifm-font-family-work-sans);
  font-size: 1.55rem;
  font-weight: 700;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 0.5rem;
}
.getCloud .featureDesc {
  font-family: var(--ifm-font-family-work-sans);
  line-height: var(--ifm-font-line-height);
  font-size: 1rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.getCloud .featureWrapper {
}
@media (max-width: 1024px) {
  .getCloud .featureCard {
    padding: 1.5rem;
  }
  .getCloud .getCloudContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .getCloud .getCloudRow {
    flex-direction: column-reverse;
  }
  .getCloud .featureTitle {
    font-size: 1.3rem;
  }
  .getCloud .featureDesc {
    font-size: 0.9rem;
  }
}
