.svsdHeaderContainer *{
  font-family: var(--ifm-font-family-work-sans);
}
.svsdHeaderContainer {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.headerTitle {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 1rem;
}
.headerTitle::after {
  content: "";
  background-color: var(--ifm-color-primary);
  width: 15%;
  height: 0.3rem;
  display: block;
  margin: 1rem auto;
}
.headerDesc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 172%;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  width: 75%;
  margin: 0 auto 2rem;
}
.headerHeroImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .headerDesc {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .headerTitle {
    font-size: 2rem;
  }
  .headerDesc {
    font-size: 1.1rem;
    width: 75%;
  }
}
@media (max-width: 480px) {
  .svsdHeaderContainer {
    margin-bottom: 3rem;
  }
  .headerTitle::after {
    width: 40%;
  }
  .ctaContainer {
    flex-direction: column;
  }
  .ctaButton {
    width: 80%;
  }
  .headerDesc {
    width: 95%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}

.hubForm {
  padding: 2rem;
  margin: 0 1rem;
  background: var(--ifm-color-white);
  box-shadow: var(--ifm-box-shadow-dark);
}
@media (max-width: 480px) {
  .hubForm {
    padding: 0.3rem;
  }
}
@media (max-width: 768px) {
  .hubForm {
    margin: 0;
    padding: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .hubForm {
    padding: 1.5rem;
    margin: 0 1rem;
  }
}