.image {
    height: auto;
  }
  
  .shadow {
    box-shadow: var(--image-shadow);
  }
  
  .margin {
    display: block;
  }
  
  .title {
    margin-bottom: 2rem;
  }
  
  .small {
    max-width: 500px;
  }
  
  .caption {
    margin-bottom: 2rem;
    text-align: center;
    font-style: italic;
    color: var(--palette-pale-blue);
  }