.svsdMigrationContainer {
  background: var(--card);
  color: var(--foreground);
  padding: 5rem 0;
  background-image:
    linear-gradient(
      0deg,
      color-mix(in srgb, var(--background) 75%, transparent),
      color-mix(in srgb, var(--background) 75%, transparent)
    ),
    url('/static/img/hexagonal-pattern.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%, 50%;
}
.svsdMigrationContainer .title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: normal;
  color: var(--l1-foreground);
}
.svsdMigrationContainer .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 172%;
  letter-spacing: normal;
  width: 55%;
  margin: 0 auto;
  color: color-mix(in srgb, var(--foreground) 75%, transparent);
}
/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .svsdMigrationContainer .desc {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .svsdMigrationContainer {
    padding: 3rem 1rem;
  }
  .svsdMigrationContainer .title {
    font-size: 1.5rem;
  }
  .svsdMigrationContainer .desc {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
