.svsdMigrationContainer {
  background: #0d0d12;
  padding: 5rem 0;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/static/img/hexagonal-pattern.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%, 50%;
}
.svsdMigrationContainer .title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.svsdMigrationContainer .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 172%;
  text-align: center;
  letter-spacing: var(--ifm-font-letter-spacing);
  width: 55%;
  margin: 0 auto;
}
/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .svsdMigrationContainer .desc {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .svsdMigrationContainer {
    padding: 3rem 1rem;
  }
  .svsdMigrationContainer .title {
    font-size: 1.5rem;
  }
  .svsdMigrationContainer .desc {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
