.svsdReasonContainer {
  padding: 4rem 0;
}
.reasonHeaderTitle {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 40%;
  margin: 0 auto 5rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.reasonHeaderTitle::after {
  content: "";
  background-color: var(--ifm-color-primary);
  width: 35%;
  height: 0.3rem;
  display: block;
  margin: 1rem auto;
}
.reasonRow {
  margin: 0 4rem 2rem;
}
.reasonsPoints {
  margin: 0 12rem 5rem;
}
.reasonsPointTitle {
  font-size: 2.5rem;
}
.reasonImageCol {
  display: flex;
  justify-content: center;
}
.reasonImageContainer {
  position: relative;
  width: fit-content;
}
.reasonReviewContainer {
  position: absolute;
  width: 16rem;
  height: 7rem;
  bottom: -5%;
  right: -2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.2rem;
  background: #0d0d12;
  border-radius: 0.4rem;
  background-clip: padding-box;
  border: 0.2rem solid transparent;
  z-index: 1;
}
.reasonReviewContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      0deg,
      rgba(13, 13, 18, 0.463),
      rgba(13, 13, 18, 0.725)
    ),
    linear-gradient(
      118.29deg,
      rgba(226, 87, 43, 0.6) -11.08%,
      rgba(226, 87, 43, 0) 76.16%
    );
  z-index: 0;
  filter: blur(0.05rem);
}
.reasonReviewContainer::after {
  border: 0.2rem solid transparent;

  background: linear-gradient(
    150deg,
    rgba(226, 87, 43, 0.6) -11.08%,
    rgba(226, 87, 43, 0) 76.16%
  );
  border-radius: 0.4rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  margin: -0.1rem;
  z-index: -1;
}
.reasonReview {
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 160%;
  letter-spacing: var(--ifm-font-letter-spacing);
  position: relative;
  margin: 0;
  z-index: 2;
}
.reasonDetailContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.reasonMainPointTitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.reasonMainPointDesc {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 160%;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.reasonTitle {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 110%;
  letter-spacing: var(--ifm-font-letter-spacing);
}
.reasonDesc {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 160%;
  letter-spacing: var(--ifm-font-letter-spacing);
}
/* media */
@media (max-width: 1440px) and (min-width: 1199px) {
}
@media (max-width: 1200px) {
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.6rem;
  }
  .reasonRow {
    margin: 0 0 2rem;
  }
  .reasonReviewContainer {
    /* right: -20px; */
  }
}
@media (max-width: 768px) {
  .reasonElonMusk .reasonImageContainer {
    margin-bottom: 2rem;
  }
  .reasonsPoints {
    margin: 0 2rem 5rem;
  }
  .svsdReasonContainer {
    padding: 3rem 0;
  }
  .reasonHeaderTitle {
    width: 50%;
    font-size: 1.3rem;
    margin: 0 auto 3rem;
  }
  .reasonImageContainer {
    display: flex;
    justify-content: center;
  }
  .shouldImageFirst {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .svsdReasonContainer {
    padding: 2rem 0;
  }
  .reasonHeaderTitle {
    width: 90%;
    font-size: 1.2rem;
    margin: 0 auto 2rem;
  }
  .reasonsPoints {
    margin: 0 0.5rem 5rem;
  }
  .reasonsPointTitle {
    font-size: 1.8rem;
  }
  .reasonMainPointTitle {
    font-size: 1.5rem;
  }
  .reasonElonMusk .reasonImageContainer {
    margin-bottom: 4rem;
  }
  .reasonReviewContainer {
    bottom: -20%;
    right: -5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
