.enterprise {
}
.enterprise .enterpriseSection {
  background: var(--ifm-color-white);
}
.enterprise .enterpriseRow {
  margin-top: -8rem;
}
.enterprise .enterpriseContainer {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.enterprise .enterpriseCard {
  padding: 2.5rem;
  margin: 0 2rem;
  background: var(--ifm-color-white);
  box-shadow: var(--ifm-box-shadow-dark);
}
.enterprise .featuresContainer {
  margin-top: 8rem;
  color: var(--ifm-color-black);
}
.enterprise .featureWrapper {
  margin-bottom: 2rem;
  margin-left: 5rem;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
}
.enterprise .featureImage {
  margin-top: -0.4rem;
  width: 3rem;
  height: 3rem;
}
.enterprise .featureTitle {
  font-family: var(--ifm-font-family-work-sans);
  font-size: 1.45rem;
  font-weight: 700;
  line-height: var(--ifm-font-line-height);
  letter-spacing: var(--ifm-font-letter-spacing);
  margin-bottom: 0.5rem;
}
.enterprise .featureDesc {
  font-family: var(--ifm-font-family-work-sans);
  line-height: var(--ifm-font-line-height);
  font-size: 1rem;
  letter-spacing: var(--ifm-font-letter-spacing);
}
@media (max-width: 480px) {
  .enterprise .featureWrapper {
    flex-direction: column;
  }
  .enterprise .enterpriseCard {
    padding: 0.3rem;
  }
}
@media (max-width: 768px) {
  .enterprise .featuresContainer {
    margin-top: 1rem;
    padding: 0 1.5rem;
  }
  .enterprise .featureTitle {
    font-size: 1.3rem;
  }
  .enterprise .featureDesc {
    font-size: 0.9rem;
  }
  .enterprise .enterpriseCard {
    margin: 0;
    padding: 0.5rem;
  }
}
@media (max-width: 996px) {
  .enterprise .enterpriseRow {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1024px) {
  .enterprise .enterpriseCard {
    padding: 1.5rem;
    margin: 0 1rem;
  }
  .enterprise .enterpriseContainer {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .enterprise .featureWrapper {
    margin-left: 0;
  }
}
